<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.susu.dao.BgReviewMapper">
  <resultMap id="BaseResultMap" type="com.susu.entity.BgReview">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="orderId" jdbcType="VARCHAR" property="orderid" />
    <result column="degree" jdbcType="CHAR" property="degree" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>

  <!--  关联查询-->
  <resultMap id="WithGoodsResultMap" type="com.susu.entity.BgReview">
    <id column="rid" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="orderId" jdbcType="VARCHAR" property="orderid" />
    <result column="degree" jdbcType="CHAR" property="degree" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <!-- 关联对象 -->
    <association property="goods" javaType="com.susu.entity.Goods">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="goodsType_id" jdbcType="INTEGER" property="goodstypeId" />
      <result column="goodsName" jdbcType="VARCHAR" property="goodsname" />
      <result column="producing_area" jdbcType="VARCHAR" property="producingArea" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="price" jdbcType="DECIMAL" property="price" />
      <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
      <result column="stock" jdbcType="INTEGER" property="stock" />
      <result column="picture" jdbcType="VARCHAR" property="picture" />
      <result column="discount" jdbcType="INTEGER" property="discount" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="onSale" jdbcType="INTEGER" property="onsale" />
      <result column="remark" jdbcType="INTEGER" property="remark" />
      <result column="soldNum" jdbcType="INTEGER" property="soldNum" />
      <result column="description" jdbcType="LONGVARCHAR" property="description" />
    </association>
  </resultMap>


  <sql id="Base_Column_List">
    id, user_id,goodsId, orderId, degree, create_time, content
  </sql>

  <sql id="WithGoods_List">
    r.id rid, user_id,goods_id, orderId, degree, r.create_time, content,g.*
  </sql>

  <!-- 插入后台评价 -->
  <insert id="insert" parameterType="com.susu.entity.BgReview">
    insert into tb_bg_review (user_id, orderId,goods_id,degree, create_time, content)
    values (#{userId,jdbcType=INTEGER}, #{orderid,jdbcType=VARCHAR},#{goodsId,jdbcType=INTEGER},
            #{degree,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR})
  </insert>
  <!--  reviewByBg  前台查看后台商家的评价-->
  <select id="reviewByBg"  resultMap="WithGoodsResultMap">
    select
    <include refid="WithGoods_List" />
    FROM tb_bg_review r LEFT JOIN tb_goods g ON r.goods_id=g.id
    where 1=1
    <if test="userId  !=null and userId  !='  'or 0 == userId">
      and user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="degree  !=null and degree  !='  ' or 0 == degree ">
      and r.degree = #{degree,jdbcType=CHAR}
    </if>
    order by r.create_time desc
  </select>

<!--    后台查看自己的商家评价，跟用户表联合查询一下，-->



  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_bg_review
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_bg_review
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.susu.entity.BgReview">
    insert into tb_bg_review
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderid != null">
        orderId,
      </if>
      <if test="degree != null">
        degree,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="degree != null">
        #{degree,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.susu.entity.BgReview">
    update tb_bg_review
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderid != null">
        orderId = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="degree != null">
        degree = #{degree,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.susu.entity.BgReview">
    update tb_bg_review
    set user_id = #{userId,jdbcType=INTEGER},
      orderId = #{orderid,jdbcType=VARCHAR},
      degree = #{degree,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>