<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!--增加日志的支持-->
		<setting name="logImpl" value="log4j"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<package name="com.susu.entity"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- 使用下面的方式配置参数，后面会有所有的参数介绍 -->

			<!-- 分页参数合理化  -->
			<property name="reasonable" value="true"/>
			<!-- 数据库为mysql  -->
			<property name="helperDialect" value="mysql"/>
		</plugin>
	</plugins>

	<mappers>
		<package name="com.susu.dao"/>
	</mappers>

</configuration>

